@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Kumbh+Sans:wght@200;900&family=Libre+Baskerville&family=Montserrat+Alternates:wght@200;400&family=Roboto:wght@700&display=swap");

.Text__cont {
  font-family: "Roboto", sans-serif;
}

.Desc__cont{
    margin: -6%;
    /* margin-bottom: -15%; */
    padding: 2%;
}

.Home__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* column-gap: 11%; */
}

.Img__cont {
  width: 100%;
  height: 575px;
  /* border: 0.2px solid transparent; */
}

.Chair__image {
  width: 100%;
  /* height: 500px; */
  overflow: hidden;
  transition: all 0.5s ease;
}

.Shop__btn{
  width: 20%;
    border:none;
    background: transparent;
    font-weight: 900;
    font-size: 30px;
    color: rgb(252, 44, 44);
    border: 2px solid transparent;
    transition: 0.5s ease;
}

.Shop__btn:hover{
width: 290px;
border-bottom: 2px solid rgb(213, 47, 47);
cursor: pointer;
}

.btn__img{
    margin:  auto  auto 0 0 ;
    position:static ;
    height:90px;
    width: 90px;
    padding: 1.5%;
    border:none;
}