@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Kumbh+Sans:wght@700;900&family=Libre+Baskerville&family=Montserrat+Alternates:wght@200;400&display=swap');
*{
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding:0;
}